<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a [routerLink]="['/home']" class="navbar-brand" >QUERIES</a>
    <button [routerLink]="['/home']" class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['/pais']" class="nav-link" href="#">CRUD_PAIS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/pregunta']" class="nav-link" href="#">CRUD_PREGUNTA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/inventos']" class="nav-link" href="#">INVENTOS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/respuestas']" class="nav-link" href="#">RESPUESTAS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a [routerLink]="['/']" class="nav-link" href="#">Salir<span class="sr-only">(current)</span></a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h2>PATENTS</h2>
      </ul>
      <form class="form-inline my-2 my-lg-0"> 
      </form>
    </div>
  </nav>
